# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Ignore all object and archive files
*.[oa]
*.bin
*.raw
*.elf
.DS_Store

# Ignore build output
obj/
dist/
Tests/run_tests

# Serial Output
com1.txt

# Doxygen output
docs/build/

# Unit testing
Tests/report.xml
thirdparty/catch2
