[submodule "thirdparty/limine"]
	path = Thirdparty/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v1.0.6
[submodule "thirdparty/stivale"]
	path = Thirdparty/stivale
	url = https://github.com/stivale/stivale.git
